blinker
click
colorama
Flask
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysql
mysql-connector-python
mysqlclient
protobuf
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
zipp
gunicorn